header h1 a img{
  width: 100%;
}
header{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#menuPrincipal{
  width: 100%;
  /*background:red;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
#iconUSer{
  background:red!important;
}